* {
    top: 0;
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    margin: 0;
    
}
.navbar-title{
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: 20px;

}

#cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    
    

}
.container{
    width: 97%;
    border:brown 10px solid;
    margin: 10px;
}

.cardItem{
  width:23.469%;
    height: 490px;
    border: 1px solid;
    padding: 10px;
    border-bottom: solid 20px brown;
    border-left: none;
    border-right: none;
    
    
}



.addBook{
    width: 400px;
    height: 340px;
    border: black 2px solid;
    background-color: lightgrey;
    margin: 40px;
    margin-left: 450px;
    justify-content: center;
}
.addbook-title{
    margin-left: 90px;
}
.addForm{
    margin-left: 60px;
    margin-top: 20px;
}

.addForm label{
    font-size: 20px;
}
.addForm input {
    width: 290px;
    height: 23px;
}
#add-btn{
    width: 100px;
    height: 40px;
    margin-left: 90px;
}
.cardImage{
    width: 100%;
    height: 420px;

}
.cardTitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 6px;
}
.cardAuthor{
    color:blue;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
}
